/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  margin:0;
  padding:0;
}
html, body {
  margin:0;
  padding:0;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img {
  border:0;
}
input{
  border:1px solid #b0b0b0;
  padding:3px 5px 4px;
  color:#979797;
  width:190px;
}
address,caption,cite,code,dfn,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,q:after {
  content:'';
}
abbr,acronym { border:0;
}
/* Start my CSS*/

  .container {
    width: 100%;
    margin: 40px auto;
}
h1 {
  font-family: 'PT Sans Narrow Bold', sans-serif;
  font-size: 1.875em;
  color: #323232;
}
h2 {
  font-family: 'PT Sans Narrow Bold', sans-serif;
  font-size: 1.5em;
  color: #00897f;
  text-transform: uppercase;
}
h3 {
  font-family: 'PT Serif Regular', serif;
  font-size: 1em;
  line-height: 2em;
  color: #323232;
}
p {
  font-family: 'PT Serif Regular', serif;
  font-size: .875em;
  line-height: 1.75em;
  color: #323232;
}

header {
  height: 6.504065%;
  position: relative;
}

.logo {
  width: 50%;
  position:absolute;
  bottom: 20%;
  left: 3.25%;
}

.nav {
  width: 50%;
  text-align: right;
  position:absolute;
  bottom: 20%;
  right: 6.5%
}

.nav li {
  font-family: 'PT Sans-Serif', sans-serif;
  display:inline;
}

.name h1 {
  font-family: 'PT Sans-Serif Narrow Bold', sans-serif;
  font-size: 1.5em;
  color: red;
}

.teacher-box {
  display:flex;
  flex-flow: column wrap;
  justify-content: space-around;
  flex-basis: 30%;
  padding:.5%;
  margin: 1%;
  border-style: solid;
  border-width: 2px;
}
.teacher-profile {
  display:flex;
  flex-flow: column wrap-reverse;
  padding:.5%;
  margin: 1%;
  border-style: solid;
  border-width: 2px;
  height:auto;

}
.teacher-grid {
  display: flex;
  margin: 20px 0;
}
.cat-thumbnail {
  width:25%;
  border-radius: 50%;
}
/* On devices less than 800px */
@media(max-width: 800px) {
  .logo h1 {
    font-size: 1.375em;
  }

}

/* On devices less than 660px */
@media(max-width: 660px) {
  .logo h1 {
    font-size: 1.375em;
  }

}

/* On devices wider than 940px */
@media(min-width: 940px) {
}
